.container {
  background-color: black;
}

.itemsContainer {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.item {
  width: 560px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.13);
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.itemImage {
  width: 100%;
  height: 300px;
  background-size: cover;
  border-radius: 4px;
}

.itemTitle {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 900;
  color: var(--highlight-color);
  margin: 10px 0;
}

.itemBody {
  line-height: 1.3em;
  color: #ccc;
}