.backgroundVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.navbar {
  background-color: black;
  height: 90px;
  box-shadow: 0 9px 12px 0 rgb(0 0 0 / 49%);
  background: linear-gradient(to bottom,#000 0,rgba(13,12,14,.70196) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;
}

.navItem {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: .08em;
  font-weight: 700;
  margin: 0 10px;
  cursor: pointer;
  transition: color .2s ease-out;
}

.navItemSelected {
  color: var(--highlight-color);
}

.navItem:hover {
  color: var(--highlight-color);
}

.childrenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}