.container {
  width: 100vw;
  position: relative;
  background-color: red;
}

.bodyContainer {
  background-color: black;
  width: 100%;
}

.body {
  width: 480px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 480px) {
  .body {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 13px;
  }
}

.blob {
  position: absolute;
  bottom: 100%;
  z-index: -1;
}

.text {
  text-shadow: 1px 1px 3px var(--highlight-color);
  text-transform: uppercase;
  list-style: 40px;
  font-size: 1em;
  letter-spacing: 0.42px;
  font-weight: 900;
  line-height: 2em;
  margin-top: 40px;
  padding-bottom: 20px;
}

.title {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .02em;
  font-size: 3em;
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 1em;
  color: var(--highlight-color);
}

.end {
  position: absolute;
}