.bodyContainer {
  background-color: black;
}

.body {
  width: 34%;
  margin: 0 auto;
  text-align: center;
}

.blob {
  margin-bottom: -10px;
}

.text {
  text-shadow: 1px 1px 3px var(--highlight-color);
  text-transform: uppercase;
  list-style: 40px;
  letter-spacing: 0.42px;
  font-weight: 900;
  line-height: 40px;
  margin-top: 40px;
}

.title {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .02em;
  font-size: 45px;
}

.subTitle {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: var(--highlight-color);
}
